*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties 
/app/build/

# Static analysis reports
/reports/
**/reports/
detekt-report.html
detekt-report.xml
ktlint-report.xml
