*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties 
/app/build/
local.properties

# Debug keystore (generated for testing, don't commit)
app/debug.keystore
